/*
 * authentification
 */

div#authentification_page div.header {
	text-align : center;
}

#authentification form {
	border-radius : 30px;
	max-width : 400px;
	margin-left : auto;
	margin-right : auto;
}

#authentification form li {
	background-color : #ea6746;

}

/*
 * MAIN
 */

#header h1{
	font-size: 1.3em;
	margin-top: 1.1em;
	margin-left: auto;
	margin-right: auto;
}
.pagination {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.pagination > div.empty {
	flex-grow: 1;
}

.pagination .paginationButton {
	display: table;
}

.pagination .paginationButton a {
	display: table-cell;
	vertical-align: middle;
	min-width: 11px;
	border-radius: 0;
	font-weight: bolder;
}

.pagination .paginationButton a:first-child {
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}
.pagination .paginationButton a:last-child {
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}

.pagination .paginationButton a::after {
	margin-bottom: 2px;
}

.pagination label{
	color :grey;
	text-shadow: none;
}

.disabled {
	cursor : default;
	opacity : 0.5;
}

.infoLines {
	padding-top : 20px;
	margin-left: 8px;
	color :grey;
	font-weight: bolder;
	text-shadow: none;
	padding-bottom: 5px;
	border-bottom: solid 2px #ea6746;
}


.infoLines #totalRows {
	font-size: 1.4em;
}

.infoLines #arrow {
	font-size: 1.3em;
}

/*
 * FOOTER
 */

#copyright {
	text-align : center;
}


/*
 * POPUP
 */

.ui-btn.my-tooltip-btn,
.ui-btn.my-tooltip-btn:hover,
.ui-btn.my-tooltip-btn:active {
	background: none;
	border: 0;
}

/*
 * TEMPLATE
 */

.ui-field-contain {
	margin:4px
}

.ui-field-contain label {
	margin:0px
}

#template .ui-field-contain {
	color :black;
	text-shadow: none;
}

/*
 * MENU
 */

div#menu .ui-btn{
	border-radius: 0;
}


/*
 * ADMIN FORM
 */

#modUserPage div form{
	max-width: 930px;
	margin: auto;
}

#modUserPage .ui-field-contain legend{
	color :grey;
	font-weight: bolder;
	text-shadow: none;
}

#modUserPage .ui-field-contain label{
	color :grey;
	font-weight: bolder;
	text-shadow: none;
}

#modUserPage #backUserPage {
	max-width: 400px;
	margin: auto;
	font-size :0.9em;
}

/*
 * ADMIN PAGE
 */

#administration #AddButton a {
	margin-top : 10.7em;
	margin-left: 10px;
}

/*
 * MEDIA PAGE
 */

meter::-moz-meter-bar, meter::-webkit-meter-bar {
	box-shadow: 0 5px 5px -5px #999 inset;
	background-image: linear-gradient(
	90deg,
	#ea6746 55%,
	#761A03 95%,
	#641602 95%
	);
	background-size: 100% 100%;
}

/*
 * DIALOG
 */

#page1 .ui-content {
	color :black;
	text-shadow: none;
}
