/*
 * authentification
 */ 

div#authentification_page div.header {
	background-color : #FFFFFF;
	text-align : center;
}

div #identifiant {
	min-height : 3em;
}

div #password {
	min-height : 3em;
}

#authentification {
	background-color : #53A7D8;
	border-radius : 30px;
	color : white;
	line-height : 25px;
	max-width : 480px;
	margin-left : auto;
	margin-right : auto;
	margin-bottom:10px;
	margin-top : 10px;
}

/*
 * MAIN
 */





.pagination {
	display: flex;
	flex-direction: row;
	justiry-content: space-between;
}

.pagination > div.empty {
	flex-grow: 1;
}

.paginationButton {
	display: table;
}

.paginationButton a {
	display: table-cell;
	vertical-align: middle;
	min-width: 11px;
}

.paginationButton a::after {
	margin-bottom: 2px;
}

.disabled {
	cursor : default;
	opacity : 0.5;
}


.infoLines {
	padding-top : 20px;
	color : blue;
	margin-left: 8px;
}

/*#archive table tr td p {
	display : inline-block;
}
*/
/*
 * FOOTER
 */

#copyright
{
	background-color : white;
	text-align : center;
}




/*
 * POPUP
 */
.ui-btn.my-tooltip-btn,
.ui-btn.my-tooltip-btn:hover,
.ui-btn.my-tooltip-btn:active {
    background: none;
    border: 0;
}

/*
 * TEMPLATE
 */
.ui-field-contain {
	margin:4px
}

.ui-field-contain label {
	margin:0px
}

