<ul data-role="listview" id="template">
	<li class="ui-body">
		<div id="EditUserButton" style="height: 50px;">
			<a href="#AddUserPage" class="ui-btn ui-corner-all ui-icon-edit ui-btn-icon-right ui-btn-left"> Edit this user</a>
		</div>
	</li>
	<li class="ui-body">
		<div id="RemoveUserButton" style="height: 50px;">
			<a href="#Remove" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-right ui-btn-left"> Remove this user</a>
		</div>
	</li>
	<li class="ui-field-contain">
		<label for="id">id:</label>
		<span name="id" id="Tid"></span>
	</li>
	<li class="ui-field-contain">
		<label for="login">login:</label>
		<span name="login" id="Tlogin"></span>
	</li>
	<li class="ui-field-contain">
		<label for="fullname">fullname:</label>
		<span name="fullname" id="Tfullname"></span>
	</li>
	<li class="ui-field-contain">
		<label for="email">email:</label>
		<span name="email" id="Temail"></span>
	</li>
	<li class="ui-field-contain">
		<label for="homedirectory">homedirectory:</label>
		<span name="homedirectory" id="Thomedirectory"></span>
	</li>
	<li class="ui-field-contain">
		<label for="isadmin">isadmin:</label>
		<span name="isadmin" id="Tisadmin"></span>
	</li>
	<li class="ui-field-contain">
		<label for="canarchive">canarchive:</label>
		<span name="canarchive" id="Tcanarchive"></span>
	</li>
	<li class="ui-field-contain">
		<label for="canrestore">canrestore:</label>
		<span name="canrestore" id="Tcanrestore"></span>
	</li>
	<li class="ui-field-contain">
		<label for="poolgroup">poolgroup:</label>
		<span name="poolgroup" id="Tpoolgroup"></span>
	</li>
	<li class="ui-field-contain">
		<label for="disabled">disabled:</label>
		<span name="disabled" id="Tdisabled"></span>
	</li>
</ul> <!--End Listview -->