<ul class="template" data-role="listview">
	<li class="ui-field-contain">
		<label for="id" x-lang-key="administration.template.id"></label>
		<span data-name="id"></span>
	</li>

	<li class="ui-field-contain">
		<label for="login" x-lang-key="administration.template.login"></label>
		<span data-name="login"></span>
	</li>

	<li class="ui-field-contain">
		<label for="fullname" x-lang-key="administration.template.fullname">fullname:</label>
		<span data-name="fullname"></span>
	</li>

	<li class="ui-field-contain">
		<label for="email" x-lang-key="administration.template.email"></label>
		<span data-name="email"></span>
	</li>

	<li class="ui-field-contain">
		<label for="homedirectory" x-lang-key="administration.template.homedirectory"></label>
		<span data-name="homedirectory"></span>
	</li>

	<li class="ui-field-contain">
		<label for="isadmin" x-lang-key="administration.template.is_admin"></label>
		<span data-name="isadmin"></span>
	</li>

	<li class="ui-field-contain">
		<label for="canarchive" x-lang-key="administration.template.can_archive"></label>
		<span data-name="canarchive"></span>
	</li>

	<li class="ui-field-contain">
		<label for="canrestore" x-lang-key="administration.template.can_restore"></label>
		<span data-name="canrestore"></span>
	</li>

	<li class="ui-field-contain">
		<label for="poolgroup" x-lang-key="administration.template.poolgroup"></label>
		<span data-name="poolgroup"></span>
	</li>

	<li class="ui-field-contain">
		<label for="disabled" x-lang-key="administration.template.disabled"></label>
		<span data-name="disabled"></span>
	</li>

	<li data-role="controlgroup" data-type="horizontal">
		<div data-role="controlgroup" data-type="horizontal">
			<a class="ui-btn ui-corner-all ui-icon-edit ui-btn-icon-left edit" href="#modUserPage" x-lang-key="administration.template.edit_user"></a>
			<a class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-left remove" href="#Remove" x-lang-key="administration.template.remove_user"></a>
		</div>
	</li>
</ul>
