<ul class="template" data-role="listview">
	<li class="ui-body">
		<div class="EditUserButton" style="height: 50px;">
			<a class="ui-btn ui-corner-all ui-icon-edit ui-btn-icon-left ui-btn-left" href="#modUserPage">Edit this user</a>
		</div>
	</li>

	<li class="ui-body">
		<div class="RemoveUserButton" style="height: 50px;">
			<a class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-left ui-btn-left" href="#Remove">Remove this user</a>
		</div>
	</li>

	<li class="ui-field-contain">
		<label for="id">id:</label>
		<span data-name="id"></span>
	</li>

	<li class="ui-field-contain">
		<label for="login">login:</label>
		<span data-name="login"></span>
	</li>

	<li class="ui-field-contain">
		<label for="fullname">fullname:</label>
		<span data-name="fullname"></span>
	</li>

	<li class="ui-field-contain">
		<label for="email">email:</label>
		<span data-name="email"></span>
	</li>

	<li class="ui-field-contain">
		<label for="homedirectory">homedirectory:</label>
		<span data-name="homedirectory"></span>
	</li>

	<li class="ui-field-contain">
		<label for="isadmin">isadmin:</label>
		<span data-name="isadmin"></span>
	</li>

	<li class="ui-field-contain">
		<label for="canarchive">canarchive:</label>
		<span data-name="canarchive"></span>
	</li>

	<li class="ui-field-contain">
		<label for="canrestore">canrestore:</label>
		<span data-name="canrestore"></span>
	</li>

	<li class="ui-field-contain">
		<label for="poolgroup">poolgroup:</label>
		<span data-name="poolgroup"></span>
	</li>

	<li class="ui-field-contain">
		<label for="disabled">disabled:</label>
		<span data-name="disabled"></span>
	</li>
</ul>
