<ul class="template" data-role="listview">
	<li class="ui-field-contain">
		<label for="name">name:</label>
		<span name="name"></span>
	</li>

	<li class="ui-field-contain">
		<label for="mimetype">mimetype:</label>
		<span name="mimetype"></span>
	</li>

	<li class="ui-field-contain">
		<label for="owner">owner:</label>
		<span name="owner"></span>
	</li>

	<li class="ui-field-contain">
		<label for="groups">groups:</label>
		<span name="groups"></span>
	</li>

	<li class="ui-field-contain">
		<label for="ctime">Creation date:</label>
		<span name="ctime"></span>
	</li>

	<li class="ui-field-contain">
		<label for="mtime">Modification date:</label>
		<span name="mtime"></span>
	</li>

	<li class="ui-field-contain">
		<label for="size">size:</label>
		<span name="size"></span>
	</li>

	<li class="ui-field-contain">
		<label for="metadata">metadata:</label>
		<span name="metadata"></span>
	</li>

	<li class="ui-field-contain">
		<label class="select" for="listLabelSelect">List of archives (w/ medias):</label>
		<div class="archiveFButton" data-role="controlgroup" data-type="horizontal">
			<select name="listLabelSelect"></select>
			<a class="ui-btn ui-shadow ui-corner-all ui-icon-bullets ui-btn-icon-left" href="#archivePage">Go to this archive</a>
		</div>
	</li>

	<li data-role="controlgroup" data-type="horizontal">
		<div data-role="controlgroup" data-type="horizontal">
			<a class="ui-btn ui-corner-all ui-icon-eye ui-btn-icon-left preview" href="#previewPage">Preview this file</a>
			<a class="ui-btn ui-corner-all ui-icon-eye ui-btn-icon-left restore">Restore this file</a>
		</div>
	</li>
</ul>
