<ul class="template" data-role="listview">
	<li class="ui-field-contain">
		<label for="uuid" x-lang-key="archive.template.uuid"></label>
		<span data-name="uuid"></span>
	</li>

	<li class="ui-field-contain">
		<label for="starttime" x-lang-key="archive.template.start_time"></label>
		<span data-name="starttime"></span>
	</li>

	<li class="ui-field-contain">
		<label for="endtime" x-lang-key="archive.template.end_time"></label>
		<span data-name="endtime"></span>
	</li>

	<li class="ui-field-contain">
		<label for="size" x-lang-key="archive.template.size"></label>
		<span data-name="size"></span>
	</li>

	<li class="ui-field-contain">
		<label for="owner" x-lang-key="archive.template.owner"></label>
		<span data-name="owner"></span>
	</li>

	<li class="ui-field-contain">
		<label for="creator" x-lang-key="archive.template.creator"></label>
		<span data-name="creator"></span>
	</li>

	<li class="ui-field-contain">
		<label for="canappend" x-lang-key="archive.template.can_append"></label>
		<span data-name="canappend"></span>
	</li>

	<li class="ui-field-contain">
		<label for="lastversion" x-lang-key="archive.template.last_version"></label>
		<span data-name="lastversion"></span>
	</li>

	<li class="ui-field-contain">
		<label for="metadata" x-lang-key="archive.template.metadata"></label>
		<table class="metadata table-stripe table-stroke ui-content ui-responsive ui-table" data-mode="reflow" data-role="table">
			<thead>
				<tr class="ui-bar-d" />
			</thead>
			<tbody/>
		</table>
	</li>

	<li class="ui-field-contain">
		<label for="volume" x-lang-key="archive.template.volume"></label>
		<table class="table-stripe table-stroke ui-content ui-responsive ui-table volume" data-mode="reflow" data-role="table">
			<thead>
				<tr class="ui-bar-d" />
			</thead>
		<tbody/>
		</table>
	</li>

	<li class="ui-field-contain">
		<label for="archiveFilesButton" x-lang-key="archive.template.archive_files_button"></label>
		<span data-name="archiveFilesButton">
			<a class="ui-btn ui-btn-icon-left ui-corner-all ui-icon-grid ui-shadow" href="#archiveFilesPage" x-lang-key="archive.template.see_files"></a>
		</span>
	</li>

	<li class="ui-body">
		<div class="RestoreButton">
			<a class="ui-btn ui-btn-icon-left ui-btn-left ui-corner-all ui-icon-action" href="#Restore" x-lang-key="archive.template.restore_archive"></a>
		</div>
	</li>
</ul>
