<ul data-role="listview">
	<li class="ui-field-contain">
		<label for="uuid">uuid :</label>
		<span name="uuid" id="uuid"></span>
	</li>
	<li class="ui-field-contain">
		<label for="starttime">starttime :</label>
		<span name="starttime" id="starttime"></span>
	</li>
	<li class="ui-field-contain">
		<label for="endtime">endtime :</label>
		<span name="endtime" id="endtime"></span>
	</li>
	<li class="ui-field-contain">
		<label for="size">size :</label>
		<span name="size" id="size"></span>
	</li>
	<li class="ui-field-contain">
		<label for="owner">owner :</label>
		<span name="owner" id="owner"></span>
	</li>
	<li class="ui-field-contain">
		<label for="creator">creator :</label>
		<span name="creator" id="creator"></span>
	</li>
	<li class="ui-field-contain">
		<label for="metadata">metadata :</label>
		<span name="metadata" id="metadata"></span>
	</li>
	<li class="ui-field-contain">
		<label for="canappend">canappend :</label>
		<span name="canappend" id="canappend"></span>
	</li>
	<li class="ui-field-contain">
		<label for="deleted">deleted :</label>
		<span name="deleted" id="deleted"></span>
	</li>
	<li class="ui-field-contain">
		<label for="volume">volume :</label>
		<table class="ui-responsive table-stripe table-stroke ui-table ui-content" data-mode="reflow" data-role="table" id="volume">
				<thead>
					<tr class="ui-bar-d" />
				</thead>
				<tbody />
		</table>
	</li>
	<li class="ui-body">
                    <div id="archiveFilesButton">
						<a href="#archiveFilesPage"class="ui-btn ui-shadow ui-corner-all ui-icon-arrow-r ui-btn-icon-right">Archive's Files</a>
					</div>
	</li>
	
<ul> <!--End Listview -->
