<ul data-role="listview">
	<li class="ui-field-contain">
		<label for="name">name :</label>
		<span name="name" id="name"></span>
	</li>
	<li class="ui-field-contain">
		<label for="label">label :</label>
		<span name="label" id="label"></span>
	</li>
	<li class="ui-field-contain">
		<label for="pool">pool :</label>
		<span name="pool" id="pool"></span>
	</li>
	<li class="ui-field-contain">
		<label for="format">format :</label>
		<span name="format" id="format"></span>
	</li>
	<li class="ui-field-contain">
		<label for="uuid">uuid :</label>
		<span name="uuid" id="uuid"></span>
	</li>
	<li class="ui-field-contain">
		<label for="firstused">firstused :</label>
		<span name="firstused" id="firstused"></span>
	</li>
	<li class="ui-field-contain">
		<label for="usebefore">usebefore :</label>
		<span name="usebefore" id="usebefore"></span>
</ul> <!--End Listview -->
