<ul data-role="listview" id="template">
	<li class="ui-field-contain">
		<label for="name">name:</label>
		<span name="name" id="name"></span>
	</li>
	<li class="ui-field-contain">
		<label for="label">label:</label>
		<span name="label" id="label"></span>
	</li>
	<li class="ui-field-contain">
		<label for="pool">pool:</label>
		<span name="pool" id="pool"></span>
	</li>
	<li class="ui-field-contain">
		<label for="format">format:</label>
		<span name="format" id="format"></span>
	</li>
	<li class="ui-field-contain">
		<label for="uuid">uuid:</label>
		<span name="uuid" id="uuid"></span>
	</li>
	<li class="ui-field-contain">
		<label for="firstused">first used:</label>
		<span name="firstused" id="firstused"></span>
	</li>
	<li class="ui-field-contain">
		<label for="usebefore">use before:</label>
		<span name="usebefore" id="usebefore"></span>
	</li>
	<li class="ui-field-contain">
		<label for="spaceused">space used:</label>
		<div id="spaceused" name="spaceused">
			<meter style="width : 100%" min="0" low="10" optimum="50" high="80" max="100"></meter>
			<label></label>
		</div>
	<!--	<progress label="Bonobo" style="width : 50%"  max="100" value="0"><dkljqshfkljdqshfkljhqsdfkljhqsdf</progress>-->
	</li>
</ul> <!--End Listview -->
