<ul class="template" data-role="listview">
	<li class="ui-field-contain">
		<label for="name" x-lang-key="media.template.name"></label>
		<span data-name="name"></span>
	</li>

	<li class="ui-field-contain">
		<label for="label" x-lang-key="media.template.label"></label>
		<span data-name="label"></span>
	</li>

	<li class="ui-field-contain">
		<label for="pool" x-lang-key="media.template.pool"></label>
		<span data-name="pool"></span>
	</li>

	<li class="ui-field-contain">
		<label for="format" x-lang-key="media.template.format"></label>
		<span data-name="format"></span>
	</li>

	<li class="ui-field-contain">
		<label for="uuid" x-lang-key="media.template.uuid"></label>
		<span data-name="uuid"></span>
	</li>

	<li class="ui-field-contain">
		<label for="firstused" x-lang-key="media.template.first_used"></label>
		<span data-name="firstused"></span>
	</li>

	<li class="ui-field-contain">
		<label for="usebefore" x-lang-key="media.template.use_before"></label>
		<span data-name="usebefore"></span>
	</li>

	<li class="ui-field-contain">
		<label for="spaceused" x-lang-key="media.template.space_used"></label>
		<div data-name="spaceused">
			<meter style="width : 100%" min="0" low="10" optimum="50" high="80" max="100"></meter>
			<label class="spaceused"></label>
		</div>
	</li>
</ul>
